In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd

In [5]:
df = pd.read_csv(r'/content/drive/My Drive/Olap/US_Accidents_Dec21_updated.csv')

In [ ]:
df.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,3,2016-02-08 00:37:08,2016-02-08 06:37:08,40.108910,-83.092860,40.112060,-83.031870,3.230,Between Sawmill Rd/Exit 20 and OH-315/Olentang...,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,2,2016-02-08 05:56:20,2016-02-08 11:56:20,39.865420,-84.062800,39.865010,-84.048730,0.747,At OH-4/OH-235/Exit 41 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Night
2,A-3,2,2016-02-08 06:15:39,2016-02-08 12:15:39,39.102660,-84.524680,39.102090,-84.523960,0.055,At I-71/US-50/Exit 1 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Day
3,A-4,2,2016-02-08 06:51:45,2016-02-08 12:51:45,41.062130,-81.537840,41.062170,-81.535470,0.123,At Dart Ave/Exit 21 - Accident.,...,False,False,False,False,False,False,Night,Night,Day,Day
4,A-5,3,2016-02-08 07:53:43,2016-02-08 13:53:43,39.172393,-84.492792,39.170476,-84.501798,0.500,At Mitchell Ave/Exit 6 - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2845342 entries, 0 to 2845341
Data columns (total 47 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ID                     object
 1   Severity               int64
 2   Start_Time             object
 3   End_Time               object
 4   Start_Lat              float64
 5   Start_Lng              float64
 6   End_Lat                float64
 7   End_Lng                float64
 8   Distance(mi)           float64
 9   Description            object
 10  Number                 float64
 11  Street                 object
 12  Side                   object
 13  City                   object
 14  County                 object
 15  State                  object
 16  Zipcode                object
 17  Country                object
 18  Timezone               object
 19  Airport_Code           object
 20  Weather_Timestamp      object
 21  Temperature(F)         float64
 22  Wind_Chill(F)          float64
 23  Humidity(%)            float64
 24  Pressure(in)           float64
 25  Visibility(mi)         float64
 26  Wind_Direction         object
 27  Wind_Speed(mph)        float64
 28  Precipitation(in)      float64
 29  Weather_Condition      object
 30  Amenity                bool
 31  Bump                   bool
 32  Crossing               bool
 33  Give_Way               bool
 34  Junction               bool
 35  No_Exit                bool
 36  Railway                bool
 37  Roundabout             bool
 38  Station                bool
 39  Stop                   bool
 40  Traffic_Calming        bool
 41  Traffic_Signal         bool
 42  Turning_Loop           bool
 43  Sunrise_Sunset         object
 44  Civil_Twilight         object
 45  Nautical_Twilight      object
 46  Astronomical_Twilight  object
dtypes: bool(13), float64(13), int64(1), object(20)
memory usage: 773.4+ MB

In [ ]:
df.shape

(2845342, 47)

In [ ]:
df.isnull().sum()

ID                             0
Severity                       0
Start_Time                     0
End_Time                       0
Start_Lat                      0
Start_Lng                      0
End_Lat                        0
End_Lng                        0
Distance(mi)                   0
Description                    0
Number                   1743911
Street                         2
Side                           0
City                         137
County                         0
State                          0
Zipcode                     1319
Country                        0
Timezone                    3659
Airport_Code                9549
Weather_Timestamp          50736
Temperature(F)             69274
Wind_Chill(F)             469643
Humidity(%)                73092
Pressure(in)               59200
Visibility(mi)             70546
Wind_Direction             73775
Wind_Speed(mph)           157944
Precipitation(in)         549458
Weather_Condition          70636
Amenity                        0
Bump                           0
Crossing                       0
Give_Way                       0
Junction                       0
No_Exit                        0
Railway                        0
Roundabout                     0
Station                        0
Stop                           0
Traffic_Calming                0
Traffic_Signal                 0
Turning_Loop                   0
Sunrise_Sunset              2867
Civil_Twilight              2867
Nautical_Twilight           2867
Astronomical_Twilight       2867
dtype: int64

In [ ]:
df.columns.to_list()

['ID',
 'Severity',
 'Start_Time',
 'End_Time',
 'Start_Lat',
 'Start_Lng',
 'End_Lat',
 'End_Lng',
 'Distance(mi)',
 'Description',
 'Number',
 'Street',
 'Side',
 'City',
 'County',
 'State',
 'Zipcode',
 'Country',
 'Timezone',
 'Airport_Code',
 'Weather_Timestamp',
 'Temperature(F)',
 'Wind_Chill(F)',
 'Humidity(%)',
 'Pressure(in)',
 'Visibility(mi)',
 'Wind_Direction',
 'Wind_Speed(mph)',
 'Precipitation(in)',
 'Weather_Condition',
 'Amenity',
 'Bump',
 'Crossing',
 'Give_Way',
 'Junction',
 'No_Exit',
 'Railway',
 'Roundabout',
 'Station',
 'Stop',
 'Traffic_Calming',
 'Traffic_Signal',
 'Turning_Loop',
 'Sunrise_Sunset',
 'Civil_Twilight',
 'Nautical_Twilight',
 'Astronomical_Twilight']

In [ ]:
acc = df[['ID','Severity','Start_Time','End_Time','Distance(mi)',
          'Street','Side','City','County','State','Temperature(F)','Humidity(%)',
          'Visibility(mi)','Wind_Direction','Wind_Speed(mph)','Weather_Condition','Crossing','Junction',
          'Roundabout','Station','Stop','Traffic_Signal','Sunrise_Sunset'
]]

In [ ]:
acc.isnull().sum()

ID                        0
Severity                  0
Start_Time                0
End_Time                  0
Distance(mi)              0
Street                    2
Side                      0
City                    137
County                    0
State                     0
Temperature(F)        69274
Humidity(%)           73092
Visibility(mi)        70546
Wind_Direction        73775
Wind_Speed(mph)      157944
Weather_Condition     70636
Crossing                  0
Junction                  0
Roundabout                0
Station                   0
Stop                      0
Traffic_Signal            0
Sunrise_Sunset         2867
dtype: int64

In [ ]:
acc.dropna(axis=0, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [ ]:
acc.isnull().sum()

ID                   0
Severity             0
Start_Time           0
End_Time             0
Distance(mi)         0
Street               0
Side                 0
City                 0
County               0
State                0
Temperature(F)       0
Humidity(%)          0
Visibility(mi)       0
Wind_Direction       0
Wind_Speed(mph)      0
Weather_Condition    0
Crossing             0
Junction             0
Roundabout           0
Station              0
Stop                 0
Traffic_Signal       0
Sunrise_Sunset       0
dtype: int64

In [ ]:
acc.shape

(2657570, 23)

In [ ]:
acc['StartDate'] = acc['Start_Time'].str.split(' ').str[0]
acc['StartTime'] = acc['Start_Time'].str.split(' ').str[1]

acc['EndDate'] = acc['End_Time'].str.split(' ').str[0]
acc['EndTime'] = acc['End_Time'].str.split(' ').str[1]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
acc.head()

,ID,Severity,Start_Time,End_Time,Distance(mi),Street,Side,City,County,State,...,Junction,Roundabout,Station,Stop,Traffic_Signal,Sunrise_Sunset,StartDate,StartTime,EndDate,EndTime
0,A-1,3,2016-02-08 00:37:08,2016-02-08 06:37:08,3.230,Outerbelt E,R,Dublin,Franklin,OH,...,False,False,False,False,False,Night,2016-02-08,00:37:08,2016-02-08,06:37:08
4,A-5,3,2016-02-08 07:53:43,2016-02-08 13:53:43,0.500,I-75 S,R,Cincinnati,Hamilton,OH,...,False,False,False,False,False,Day,2016-02-08,07:53:43,2016-02-08,13:53:43
5,A-6,2,2016-02-08 08:16:57,2016-02-08 14:16:57,1.427,State Route 32,R,Williamsburg,Clermont,OH,...,False,False,False,False,True,Day,2016-02-08,08:16:57,2016-02-08,14:16:57
6,A-7,2,2016-02-08 08:15:41,2016-02-08 14:15:41,0.227,I-75 S,R,Dayton,Montgomery,OH,...,False,False,False,False,False,Day,2016-02-08,08:15:41,2016-02-08,14:15:41
7,A-8,2,2016-02-08 11:51:46,2016-02-08 17:51:46,0.521,I-71 S,R,Cleveland,Cuyahoga,OH,...,True,False,False,False,False,Day,2016-02-08,11:51:46,2016-02-08,17:51:46

In [ ]:
acc.shape

(2657570, 27)

In [ ]:
acc.to_csv('/content/drive/My Drive/Olap/Accident.csv')